:root {
    --primary-color: #1890FF; /* Светло-серый цвет */
    --text-color: rgba(0, 0, 0, 0.65);
    --disabled-color: rgba(0, 0, 0, 0.25);
}

.Pagination {
    margin: 0 auto 17px;
    width: fit-content;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: white !important;
}
.ant-pagination-item a {
    color: var(--text-color, rgba(0, 0, 0, 0.65)) !important;
}

.ant-pagination-item-active a {
    color: white !important; /* Белый текст */
}

.ant-pagination-item-active {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}


